body,html {
  // overflow: hidden;
  // height: 100%;
  width: 100%;
}

.animations-container {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

#green-shadow {
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  transition-delay: 0.5s;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%) scale(0,0);
  height: 800%;
  width: 800%;
  z-index: 100;
  border-radius: 100%;
  // box-shadow: 0 0 calc(100% - 0) calc(100% - 0) #2CF10C;
  background: radial-gradient(50% 50% at 50% 50%, #2CF10C 19.27%, rgba(44, 241, 12, 0) 100%); 

  &.open-circle {
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.5s;
    transform: translate(-50%,-50%) scale(1,1);
  }
}

#space-canvas {
  position: absolute;
  left: 0; top: 0;
  z-index: 200;
  width: 100%;
}

.chat-container {
    
    .item-text {
      transition-property: all;
      transition-duration: 0.3s;
      transition-timing-function: ease-in-out;
      transition-delay: 0.2s;
      opacity: 0;
      transform: translateY(20px);

      &.inactive { 
        transition-property: all;
        transition-duration: 0.3s;
        transition-timing-function: ease-in-out;
        transition-delay: 0.2s;
        opacity: 1;
        transform: translateY(0px);
      }
    }

    .item-icon {
      transition-property: all;
      transition-duration: 0.3s;
      transition-timing-function: ease-in-out;
      transform: scale(0,0);
      overflow: hidden;

      &.inactive { 
        transition-property: all;
        transition-duration: 0.3s;
        transition-timing-function: ease-in-out;
        transform: scale(1,1);
        overflow: hidden;
      }
    }

    .enter-text {
      color: #69da3a!important;
    }

  

}