{% extends "_layout.html" %} {% block title %}Welcome to Startupy!!{% endblock
%} {% block head %} {%- endblock %} {% block content %}

<!-- <header class="hidden">
  <div>
    <a href=""><h1>logo</h1></a>
    <div>
      <a href="">Our Manifesto</a>
      <a href="">Join Membership</a>
      <a href="">Login</a>
    </div>
  </div>
</header> -->

<!-- <div class="hidden">
  <div>
    <img src="" alt="">
    <div>  
      <div>
        <i>icon</i>
        <input type="text" placeholder="Search companies, content, topics, and people">
      </div>
      <nav>
        <ul>
          <li>Topics</li>
          <li>companies</li>
          <li>People</li>
          <li>imagen</li>
        </ul>
      </nav>
      <div>
        <ul>
          <li>Trending Topics</li>
          <li>Assistive Tech</li>
          <li>Personalized Finance</li>
          <li>Safety Tech</li>
          <li>Future of Warehousing</li>
          <li>Sustainable Brands</li>
        </ul>
        <ul>
          <li>New Topics</li>
          <li>Future of Dating</li>
          <li>Prosumer</li>
          <li>AR/VR Startups</li>
          <li>Wearables</li>
          <li>Something Else</li>
        </ul>
        <div>
          <span>Community Stats</span>
          <div>
            <p>grafico1</p>
            <p>grafico1</p>
            <p>grafico1</p>
          </div>
        </div>
        <div>
          <span>Mood</span>
          <div>
            <img src="" alt="">
          </div>
        </div>
      </div>
    </div>
    <div>
      <div>
        <i>icon nav</i>
      </div>
      <div>
        <i>close</i>
      </div>
    </div>
  </div>
</div> -->

<section class="animations-container">
  {% include 'chat.html' %} {% include 'shadow.html' %} {% include 'space.html'
  %}
</section>

<main id="main-content">
  <!-- <section
    class="relative h-screen p-6 text-black bg-modal flex items-center justify-center"
  > -->
  <section
    class="relative t-screen p-6 text-black bg-modal flex items-center justify-center"
  >
    <div class="absolute text-white top-8 left-8">
      <p class="mb-2">Drops</p>
      <a href="https://www.ghostknowledge.com/" target="_blank" class="new-links inline-block rounded px-2 py-1 bg-white text-black mb-2">ghost knowledge</a><br />
      <a href="https://themodernbillboard.com/" target="_blank" class="new-links inline-block rounded px-2 py-1 bg-white text-black">the modern billboard collective</a>
    </div>
    <div class="absolute bg-white bottom-8 right-8 px-4">
      <p onclick="anchorBottomClick()" class="clicker">Manifesto <span class="text-2xl">&#x025BE;</span></p>
    </div>
    <div class="bg-white p-8 max-w-lg xl:max-w-2xl">
      <p
        class="font-bold text-xl leading-6 md:text-2xl md:leading-8 xl:text-4xl xl:leading-10"
      >
        <span class="ff-conv-PxGrotesk text-logo">Startupy</span> is where you
        stay up to speed on the pulse of startup culture. We're creating the
        infrastructure for a new type of knowledge exchange.
      </p>
      <div class="mt-4 md:mt-10" id="joinit">
        <span class="font-bold xl:text-xl">Join the waitlist</span>
        <!-- class box-error, box-filled y box-disabled -->
        <div
          class="mt-3 bg-black px-4 px-l-0 py-2 text-white flex items-center"
          id="submitBox"
        >
          <span class="font-bold xl:text-xl res-non">Email</span>
          <input
            class="placeholder-white bg-transparent focus:outline-none py-2 px-4 block w-full placeholder-opacity-50 appearance-none leading-normal xl:text-xl"
            type="email"
            placeholder="you@mail.com"
            id="email"
          />
          <button
            class="opacity-75 xl:text-xl text-green-400"
            id="submitButton"
          >
            Submit
          </button>
          <svg
            class="h-10 w-10 text-green-400 icon-no-show"
            id="submtConfirm"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
            />
          </svg>
        </div>
        <!-- <div class="mt-1" id="corr-message">
          <span>Your Email was successfuly subscribed</span>
        </div> -->
      </div>
      <div class="mt-4 md:mt-10" id="joinedit">
        <span class="font-bold block mb-2 xl:text-xl"
          >You’re on the waitlist!</span
        >
        <p class="xl:text-xl">
          Startupy is in development. If you want access to a deck outlining our
          vision, tweet and we'll DM you.
        </p>
        <div class="px-5 py-6 mt-6 bg-blue-light">
          <div class="flex justify-betwen" style="position: relative">
            <span class="font-bold block mb-2 xl:text-xl">Tweet</span>
            <a
              href="https://twitter.com/intent/tweet?url=https%3A%2F%2Fstartupy.world%2F&via=%40startuoyworld&text=Fall%20down%20a%20better%20Rabbit%20Hole%20with%20@startupyworld%20coming%20soon.%20Check%20the%20deck%3F"
              target="_blank"
              class="twicon"
            >
              <img src="/static/img/twit.svg" />
            </a>
          <p class="xl:text-xl">
            Fall down a better 🐇 🕳 with
            <a class="text-blue-electric">@startupyworld</a> coming soon.<br />
            👀 the deck?
          </p>
        </div>
        <p class="link-back" id="backlink">Take me back</p>
      </div>
    </div>
  </section>
  <section class="billboard p-8">
    <div class="flex w-11/12 mx-auto mt-6">
      <a href="https://startupy.onlytiktok.com/" class="mr-4 text-gray-700 bg-white py-2 px-3 rounded rounded-links" target="_blank">Purchase a square lot</a>
      <a href="http://themodernbillboard.eth/" class=" text-gray-700 bg-white py-2 px-3 rounded rounded-links" target="_blank">What is this billboard?</a>
    </div>
    <div id="frame-template" class="grid grid-cols-12 gap-2 w-11/12 mx-auto my-8"></div>
  </section>

  {% include 'landing.html' %}
</main>

{% include 'footer.html' %} {%- endblock %} {% block scripts %} {%- endblock %}
