{% extends "_layout.html" %}

{% block title %}Welcome to Clay v3{% endblock %}

{% block head %}
{%- endblock %}

{% block content %}

<header class="hidden">
  <div>
    <a href=""><h1>logo</h1></a>
    <div>
      <a href="">Our Manifesto</a>
      <a href="">Join Membership</a>
      <a href="">Login</a>
    </div>
  </div>
</header>

<div class="hidden">
  <div>
    <img src="" alt="">
    <div>  
      <div>
        <i>icon</i>
        <input type="text" placeholder="Search companies, content, topics, and people">
      </div>
      <nav>
        <ul>
          <li>Topics</li>
          <li>companies</li>
          <li>People</li>
          <li>imagen</li>
        </ul>
      </nav>
      <div>
        <ul>
          <li>Trending Topics</li>
          <li>Assistive Tech</li>
          <li>Personalized Finance</li>
          <li>Safety Tech</li>
          <li>Future of Warehousing</li>
          <li>Sustainable Brands</li>
        </ul>
        <ul>
          <li>New Topics</li>
          <li>Future of Dating</li>
          <li>Prosumer</li>
          <li>AR/VR Startups</li>
          <li>Wearables</li>
          <li>Something Else</li>
        </ul>
        <div>
          <span>Community Stats</span>
          <div>
            <p>grafico1</p>
            <p>grafico1</p>
            <p>grafico1</p>
          </div>
        </div>
        <div>
          <span>Mood</span>
          <div>
            <img src="" alt="">
          </div>
        </div>
      </div>
    </div>
    <div>
      <div>
        <i>icon nav</i>
      </div>
      <div>
        <i>close</i>
      </div>
    </div>
  </div>
</div>

<main>

  {% include 'chat.html' %}

  <section class="relative h-screen p-6 bg-green-electric text-black">
    <img class="absolute bottom-0" src="/static/img/bk-1.jpg" alt="">
    <img class="absolute right-50 bottom-30" src="/static/img/bk-2.jpg" alt="">
    <img class="absolute right-10 top-60" src="/static/img/bk-3.jpg" alt="">
    <div class="relative border-solid bg-green-electric border-black border-2 inline-block shadow-lg">
      <div class="border-b-2 flex border-solid border-black p-1">
        <span class="w-4 h-4 inline-block bg-black rounded-full"></span>
      </div>
      <div class="flex p-2 pt-6 relative">
        <div class="ff-conv-druk fz-250 lh-08 flex flex-col">
          <span>Another</span>
          <span>World</span>
        </div>
        <div class="absolute rotate-45 transform btn-floting">
          <button class="bg-pink-electric text-black font-bold py-2 px-4 border-4 text-4xl border-black rounded-24">Show Me</button>
        </div>
        <div class="ff-conv-druk fz-250 lh-08 flex flex-col text-right mt-24">
          <span>is</span>
          <span>Possible</span>
        </div>
      </div>
    </div>
  </section>

  <section class="relative h-screen p-6 bg-green-electric text-black bg-modal flex items-center justify-center">
    <div class="bg-white p-8 max-w-lg">
      <p class="font-bold text-2xl leading-8"><span class="ff-conv-PxGrotesk text-blue-electric">Startupy</span> is a living, breathing, and surprisingly delightful place to fall down the Internet rabbit hole and stay up to speed on the pulse of startup culture. With Startupy, we’re not just creating a database, but an infrastructure for a new type of knowledge exchange.</p>
      <div class="mt-10">
        <span class="font-bold">Join Our Waitlist</span>
        <div class="mt-3 bg-black px-4 py-2 text-white flex items-center">
          <span class="font-bold">Email</span>
          <input class="placeholder-white bg-transparent focus:outline-none py-2 px-4 block w-full placeholder-opacity-50 appearance-none leading-normal" type="email" placeholder="you@mail.com">
          <button class="opacity-75">Submit</button>
        </div>
      </div>
    </div>
  </section>
  
  <section class="home-banner grid grid-cols-4 gap-4 items-end">
    <div class="col-span-1 flex"></div>
    <div class="col-span-3 flex">
      <h2 class="py-1 ff-mono-bold bg-white text-4xl leading-none">The year is 2020.</h2>
    </div>
  </section>
  
  <section class="grid grid-cols-4 gap-4 bg-black text-white">
    <div class="col-span-1 flex">
      <ul class="p-10 w-full">
        <li class="flex items-center">
          <span class="w-2 h-2 inline-block bg-white rounded-full mr-2"></span>
          <a class="ff-mono-light" href="">Problem</a>
        </li>
        <li>
          <span class="w-2 h-2 inline-block bg-black rounded-full mr-1"></span>
          <a class="ff-mono-light text-opacity-50 text-white hover:text-white" href="">Solution</a>
        </li>
        <li>
          <span class="w-2 h-2 inline-block bg-black rounded-full mr-1"></span>
          <a class="ff-mono-light text-opacity-50 text-white hover:text-white" href="">Ideals</a>
        </li>
      </ul>
    </div>
    <div class="col-span-3 pt-10">
      <div class="w-9/12">
        <p class="ff-mono-bold text-4xl leading-10 pb-10">We spend endless hours falling down Internet rabbit holes. Caught in a stream of newsletters, podcasts, and Twitter threads, we surf the web, jumping from thought to thought, tab to tab, hoping for an intellectual breakthrough, exhilarated, but exhausted.</p>
        <div class="pt-10">
          <span class="ff-mono-light text-opacity-25 text-white">Our Problem</span>
          <p class="ff-mono-light leading-8 text-white text-2xl">We are entering the golden age of writing. But knowledge is scattered — buried in the deep corners of the interwebs, found only by chance, and consumed in fleeting social media feeds that strip context and discourage reflection.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-black">
    <img src="./static/img/text.png" alt="">
  </section>

  <section class="bg-black text-white pt-4 flex justify-center">
    <div class="w-9/12">
      <span class="ff-mono-light text-opacity-25 text-white">The Solution</span>
      <p class="ff-mono-light leading-8 text-white text-2xl pb-10">Founders, funders, creatives, and creators need a dedicated place to collect and connect the dots. That’s why we built startupy: a community-powered database for startup knowledge, organized associatively.</p>
      <p class="ff-mono-bold text-4xl leading-10 pb-10 pt-10">Startupy is a living, breathing, and surprisingly delightful place to fall down the Internet rabbit hole and stay up to speed on the pulse of startup culture. With Startupy, we’re not just creating a database, but an infrastructure for a new type of knowledge exchange.</p>
    </div>
  </section>

  <section class="bg-black">
    <img src="./static/img/text2.png" alt="">
  </section>

  <section class="grid grid-cols-4 gap-4 bg-black text-white">
    <div class="col-span-1 flex">
      <ul class="p-10 w-full">
        <li class="flex items-center">
          <span class="w-2 h-2 inline-block bg-white rounded-full mr-2"></span>
          <a class="ff-mono-light" href="">Information</a>
        </li>
        <li>
          <span class="w-2 h-2 inline-block bg-black rounded-full mr-1"></span>
          <a class="ff-mono-light text-opacity-50 text-white hover:text-white" href="">Context</a>
        </li>
        <li>
          <span class="w-2 h-2 inline-block bg-black rounded-full mr-1"></span>
          <a class="ff-mono-light text-opacity-50 text-white hover:text-white" href="">Abundance</a>
        </li>
        <li>
          <span class="w-2 h-2 inline-block bg-black rounded-full mr-1"></span>
          <a class="ff-mono-light text-opacity-50 text-white hover:text-white" href="">Thinking</a>
        </li>
        <li>
          <span class="w-2 h-2 inline-block bg-black rounded-full mr-1"></span>
          <a class="ff-mono-light text-opacity-50 text-white hover:text-white" href="">Analysis</a>
        </li>
      </ul>
    </div>
    <div class="col-span-3 pt-10 pb-10">
      <div class="w-9/12 pb-10">
        <div class="pb-10">
          <span class="bg-white text-black ff-mono-light px-1">Information Under-load</span>
          <p class="ff-mono-light leading-8 text-white text-2xl pb-4">We need to transition from information as an interruption technology to information as a thinking tool.</p>
          <img src="./static/img/info1.jpg" alt="">
          <p class="ff-mono-light leading-7 text-white text-xl pb-10 pt-4">When we go online, we enter an environment that promotes cursory reading, distracted thinking, and superficial learning. Social media is a double edged sword. On the one hand, it’s a source of genuine insight. On the other hand, notifications, endless scrolling, subconscious triggers and an obsession with what’s “new” mean we have no control over how we spend our time and we’ve relegated the things we love to a fleeting feed.  Infinite access to information will either destroy you or strengthen you. At Startupy, we want to make it nourish you.</p>
        </div>
        <div class="py-10">
          <span class="bg-white text-black ff-mono-light px-1">Ideas in Context</span>
          <p class="ff-mono-light leading-8 text-white text-2xl pb-4">In the age of information overload, the ultimate luxury is context.</p>
          <p class="ff-mono-light leading-7 text-white text-xl pb-4">The Internet made everyone a journalist, but as information becomes more abundant, the connections drawn between disparate pieces are becoming increasingly important.</p>
          <img src="./static/img/info2.jpg" alt="">
          <p class="ff-mono-light leading-7 text-white text-xl pt-4">Finding the next big productivity app is easy, but making sense of the productivity landscape is not. Startupy changes our relationship to information from one that is disjointed, chaotic, and grounded in linear thinking to a coherent graph of content and ideas, presented associatively.</p>
        </div>
        <div class="py-10">
          <span class="bg-white text-black ff-mono-light px-1">Thinking With The Door Open</span>
          <p class="ff-mono-light leading-8 text-white text-2xl pb-4">Creative output starts with abundance, not a blank screen. </p>
          <img src="./static/img/info3.jpg" alt="">
          <p class="ff-mono-light leading-7 text-white text-xl pt-4">The power of the unaided mind is highly overrated. Humans think best when we have access to a lot of ideas in front of us. Everything builds on what came before. In order for us to truly create and contribute to the world, we have to be able to connect countless dots, to cross-pollinate ideas from a wealth of places, and to combine and recombine these to build new things. </p>
        </div>
        <div class="py-10">
          <span class="bg-white text-black ff-mono-light px-1">Thinking With The Door Open</span>
          <p class="ff-mono-light leading-8 text-white text-2xl pb-4">Creative output starts with abundance, not a blank screen. </p>
          <img src="./static/img/info4.jpg" alt="">
          <p class="ff-mono-light leading-7 text-white text-xl pt-4">The power of the unaided mind is highly overrated. Humans think best when we have access to a lot of ideas in front of us. Everything builds on what came before. In order for us to truly create and contribute to the world, we have to be able to connect countless dots, to cross-pollinate ideas from a wealth of places, and to combine and recombine these to build new things. </p>
        </div>
      </div>
    </div>
  </section>

</main>

<footer class="bg-black text-white border-t-2 border-opacity-25 border-white">
  <div class="flex py-6">
    <img src="" alt="">
    <div>
      <p>We send the only email you need to read to keep your pulse on early stage startups.</p>
      <div>
        <span>Email</span>
        <input type="email" placeholder="you@mail.com">
        <button>Submit</button>
      </div>
    </div>
    <div>
      <a href=""><i>icon</i></a>
      <a href=""><i>icon</i></a>
    </div>
    <div>
      <ul>
        <li><a href="">About</a></li>
        <li><a href="">Manifesto</a></li>
        <li><a href="">Shop</a></li>
      </ul>
    </div>
    <div>
      <ul>
        <li><a href="">Community</a></li>
        <li><a href="">Membership</a></li>
        <li><a href="">Become a Curator</a></li>
        <li><a href="">Roadmap</a></li>
      </ul>
    </div>
    <div>
      <ul>
        <li><a href="">FAQs</a></li>
        <li><a href="">Terms of Use</a></li>
        <li><a href="">Privacy Policy</a></li>
      </ul>
    </div>
  </div>
  <div class="home-banner"></div>
</footer>

{%- endblock %}

{% block scripts %}
{%- endblock %}