.min-w-12 {
  min-width: 3rem;
}

.min-h-12 {
  min-height: 3rem;
}

.max-w-12 {
  max-width: 3rem;
}

.max-h-12 {
  max-height: 3rem;
}

.ff-conv-druk {
  font-family: 'Conv_Druk Cond Super';
}

.ff-conv-PxGrotesk {
	font-family: 'Conv_PxGrotesk-OIL';
}

.ff-conv-ConcordeBQ {
	font-family: 'Conv_ConcordeBQ-Regular';
}

.ff-mono-bold {
	font-family: 'sf_monobold';
}

.ff-mono-regular {
	font-family: 'sf_monoregular';
}

.ff-mono-light {
	font-family: 'sf_monolight';
}

.lh-08 {
  line-height: 0.8;
}

.bg-green-electric {
  background-color: #2CF10C;
}

.bg-pink-electric {
  background-color: #FF39BC;
}

.text-blue-electric {
  color: #0C3EF1;
}

.rounded-24 {
  border-radius: 24px;
}

.fz-70 {
  font-size: 70px;
}

.rounded-10 {
  border-radius: 10px;
}

.btn-floting {
  right: 50px;
  bottom: 100px;
}

.right-10 {
  right: 10px;
}

.right-50 {
  right: 50px;
}

.bottom-30 {
  bottom: 30px;
}

.top-60 {
  top: 60px;
}

.bg-modal {
  background-image: url(../static/img/bg-modal.png);
  background-size: 100% 100%;
}

.home-banner {
  background-image: url(../static/img/banner.jpg);
  min-height: 200px;
}

@media screen and (min-width: 767px) {
  .fz-md-150 {
    font-size: 150px;
  }

  .btn-floting {
    right: 130px;
    bottom: 180px;
  }

  .rounded-md-14 {
    border-radius: 14px;
  }
}

@media screen and (min-width: 996px) {
  .fz-lg-250 {
    font-size: 250px;
  }

  .btn-floting {
    right: 230px;
    bottom: 280px;
  }

  .rounded-lg-24 {
    border-radius: 24px;
  }
}